.full-screen__title {
    z-index: 1;
    font-size: 50px;
    letter-spacing: 10px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px 0;
    color: rgb(255, 255, 255);
    /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
  }